@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
    background-image: url('../img/minecraft-grass-background.png');
    font-family: 'Special Elite', cursive;
    color:#cccccc;
}

.field{
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 10px solid #657;
    background: #010f00;
    position: relative;
}

.logo{
    text-align: center;
    margin-top: 30px;
    font-size: 110px;
}

.time{
    z-index: 100;
    color:#cccccc;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.gameover{
    width: 100%;
    height: 30%;
    background-color: #f02046;
    z-index: 10;
    position: fixed;
    top: 40%;
    font-size: 120px;
    text-align: center;
    left: 0;
    display: flex;
    flex-direction: column;
}

.gameover>p{
    margin: auto 0;
}

.gameover>p:nth-child(1) {
    margin-bottom: 0;
}

.gameover>p:nth-child(2) {
    margin-top: 0;
}

.bottom{
    font-size: 45px;
}

.score{
    z-index: 101;
    color:#cccccc;
    position: absolute;
    bottom: 25px;
    left: 5px;
}

.button {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: white;
    background: #F2385A;
    position: relative;
    top: 0;
    padding: 16px;
    font-size: 34px;
    border-radius: 10px;
    box-shadow: 0 15px 0 0 #f02046, 0 0 20px 0 #375;
    transition: all 0.2s;
}

a:active {
    top: 5px;
}

/*-----------SVG-Div---------------*/
.snakeContainer *,
.diamondContainer *{
    position: absolute;
    height: 20px;
    width: 20px;
}

